<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Fornecedores</title>
</head>
<body>
    <div class="container">
        <h2>Buscar Fornecedor</h2>

        <form class="row g-3" id="frmFornecedor">
            <div class="col-md-6">
                <input type="text" class="form-control" id="SearhFornecedor" maxlength="30" spellcheck="false" placeholder="Fornecedor" required>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-dark" id="btnRead">Buscar</button>
            </div>
            <hr class="border border-dark border-1 opacity-75">
        </form>

        <form class="row g-3" id="frmFornecedor2">
            <div class="col-md-6" id="idfornecedor">
                <input type="text" class="form-control border-dark" id="idfornecedor" placeholder="id">
            </div>

            <div class="col-md-8">
                <label for="inputRazSocial" class="form-label">Razão social</label>
                <input type="text" class="form-control border-dark" id="inputName" required maxlength="30" spellcheck="false">
            </div>

            <div class="col-md-4">
                <label for="inputCnpj" class="form-label">Cnpj</label>
                <input type="tel" class="form-control border-dark" id="inputCnpj" required maxlength="14">
            </div>

             <div class="col-md-8">
                <label for="inputEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control border-dark" id="inputEmail" required maxlength="30" spellcheck="false">
            </div>

            <div class="col-md-4">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control border-dark" id="inputTelefone" required maxlength="11">
            </div>
            <hr class="border border-dark border-1 opacity-75">

            <!-- Endereço -->
                <label for="inputCEP" class="form-label">CEP</label>
                    <div class="col-md-3">
                        <input type="tel" class="form-control border-dark" id="inputCEP" required maxlength="8">
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" id="btnCreate" onclick="cep()">Buscar CEP</button>
                    </div>
                        <div class="col-6"></div>
                    <div class="col-md-4">
                        <label for="inputlogradouro" class="form-label">Rua</label>
                        <input type="tel" class="form-control border-dark" id="inputlogradouro" required maxlength="30" spellcheck="false">
                    </div>
                    <div class="col-md-3">
                        <label for="inputbairro" class="form-label">Bairro</label>
                        <input type="tel" class="form-control border-dark" id="inputbairro" required maxlength="30" spellcheck="false">
                    </div>
                    <div class="col-md-1">
                        <label for="inputnumero" class="form-label">Numero</label>
                        <input type="tel" class="form-control border-dark" id="inputnumero" required maxlength="30" spellcheck="false">
                    </div>   
                    <div class="col-md-3">
                        <label for="inputcomplemento" class="form-label">Complemento</label>
                        <input type="tel" class="form-control border-dark" id="inputcomplemento" maxlength="30" spellcheck="false">
                    </div>      
                    <div class="col-md-3">
                        <label for="inputbairro" class="form-label">Cidade</label>
                        <input type="tel" class="form-control border-dark" id="inputbairro" required maxlength="30" spellcheck="false">
                    </div>
                    <div class="col-md-1">
                        <label for="inputbairro" id="uf" class="form-label">UF</label>
                        <div class="btn-group" role="group">
                            <select id="uf" class="form-select border-dark" required>
                                <option selected></option>
                                <option value="1">AC</option>
                                <option value="2">AL</option>
                                <option value="2">AP</option>
                                <option value="2">AM</option>
                                <option value="2">BA</option>
                                <option value="2">CE</option>
                                <option value="2">DF</option>
                                <option value="2">ES</option>
                                <option value="2">GO</option>
                                <option value="2">MA</option>
                                <option value="2">MT</option>
                                <option value="2">MS</option>
                                <option value="2">MG</option>
                                <option value="2">PA</option>
                                <option value="2">PB</option>
                                <option value="2">PR</option>
                                <option value="2">PE</option>
                                <option value="2">PI</option>
                                <option value="2">RJ</option>
                                <option value="2">RN</option>
                                <option value="2">RS</option>
                                <option value="2">RO</option>
                                <option value="2">RR</option>
                                <option value="2">SC</option>
                                <option value="2">SP</option>
                                <option value="2">SE</option>
                                <option value="2">TO</option>

                            </select>   
                        </div>
                    </div>      

             <!-- Botões -->
             <div class="col-12">
                <br>
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="button" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset"></button>
            </div>

        </form>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>